<div class="container">
  <div class="col-md-6">
      <h2 class="text-center">Update Policy</h2>
      <form>
        <div class="form-group">
          <label for="name">Policy Id:</label>
          <input type="number" [(ngModel)]="pol.policyId" placeholder="Policy Id" name="name" class="form-control" id="name">
        </div>

        <div class="form-group">
          <label for="Start">Policy Effective Date:</label>
          <input type="date" [(ngModel)]="pol.policyEffectiveDate" placeholder="Policy Effective Date" name="Start" class="form-control" id="Start">
        </div>

        <div class="form-group">
          <label for="End">Policy End Date:</label>
          <input type="date" [(ngModel)]="pol.policyEndDate" placeholder="Policy End Date" name="End" class="form-control" id="End">
        </div>
        <div class="form-group">
          <label for="term">Policy Term:</label>
          <input type= "number" [(ngModel)]="pol.policyTerm" placeholder="policyTerm" name="term" class="form-control" id="term">
        </div>
        <div class="form-group">
          <label for="Status">Policy Status:</label>
          <input type= "text" [(ngModel)]="pol.policyStatus" placeholder="policyStatus" name="Status" class="form-control" id="Status">
        </div>
                <button class="btn btn-success" (click)="UpdatePolicy()">Submit</button>
      </form>
   </div>
  </div>