<div class="container">
    <nav>
    <ul class="nav justify-content-center">
      <li class="nav-item ">
        <a class="nav-link"  routerLink="list-policyholder" routerLinkActive="active">Policy Holder List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="add-policyholder">Add Policy Holder</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="update-policyholder">Update Policy Holder</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="view-policyholder-by-id">Search Policy Holder By Id</a>
    </ul>
    </nav>   
  </div>
  <router-outlet></router-outlet>